Pair programming Agrupación de Datos y Método apply

Ejercicios apply

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [68]:
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [69]:
df= pd.read_csv('files/df_limpio.csv')

In [70]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [71]:
#df["landarea"] = df["landarea"].str.replace(".", "")
#df["landarea"] = df["landarea"].str.replace(",", ".")
df["armedforcessize"]

0      323,000
1        9,000
2      317,000
3          NaN
4      117,000
        ...
190    343,000
191    522,000
192     40,000
193     16,000
194     51,000
Name: armedforcessize, Length: 195, dtype: object

In [72]:
# Define una lista de nombres de columnas que se intentarán convertir a números
columna = ['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitude', 'longitude', 'density', 'cpi']


def numero(columna, df):
  """
  Esta función convierte columnas de cadenas de texto a números de punto flotante (float64)

  Args:
      columna (list): Lista de nombres de columnas del DataFrame df a procesar.
      df (pandas.DataFrame): El DataFrame que contiene las columnas a convertir.

  Returns:
      pandas.DataFrame: El DataFrame modificado con las columnas convertidas.
  """

  for col in columna:
    # Verifica si el tipo de dato de la columna actual es cadena (objeto)
    if df[col].dtype == 'object':
      try:
        # Intenta convertir la columna a float64 directamente
        df[col] = df[col].astype("float64")
      except:
        # Si falla la conversión, verifica si es un ValueError (error de conversión)
        if ValueError:
          try:
            # Limpia la cadena para permitir la conversión
            df[col] = df[col].str.replace(".", "")  # Reemplaza puntos por vacío
            df[col] = df[col].str.replace(",", ".")  # Reemplaza comas por puntos
            df[col] = df[col].str.replace("(", "")   # Reemplaza paréntesis de apertura
            df[col] = df[col].str.replace(")", "")   # Reemplaza paréntesis de cierre
            df[col] = df[col].str.replace("'", "")   # Reemplaza comillas simples
            # Intenta nuevamente la conversión a float64
            df[col] = df[col].astype("float64")
          except:
            # Si sigue fallando, imprime un mensaje de error con el valor problemático
            print(f"Error en la columna {col}: {df[col]}")

In [73]:
numero(columna, df)

Error en la columna landarea: 0        652.230
1         28.748
2      2.381.741
3            468
4      1.246.700
         ...
190      912.050
191      331.210
192      527.968
193      752.618
194      390.757
Name: landarea, Length: 195, dtype: object
Error en la columna armedforcessize: 0      323.000
1        9.000
2      317.000
3          NaN
4      117.000
        ...
190    343.000
191    522.000
192     40.000
193     16.000
194     51.000
Name: armedforcessize, Length: 195, dtype: object
Error en la columna co2-emissions: 0        8.672
1        4.536
2      150.006
3          469
4       34.693
        ...
190    164.175
191    192.668
192     10.609
193      5.141
194     10.983
Name: co2-emissions, Length: 195, dtype: object
Error en la columna gdp: 0       19.101.353.833
1       15.278.077.447
2      169.988.236.398
3        3.154.057.987
4       94.635.415.870
             ...
190    482.359.318.768
191    261.921.244.843
192     26.914.402.224
193     23.064.722.446
194     21.440.758.800
Name: gdp, Length: 195, dtype: object
Error en la columna population: 0      38.041.754
1       2.854.191
2      43.053.054
3          77.142
4      31.825.295
          ...
190    28.515.829
191    96.462.106
192    29.161.922
193    17.861.030
194    14.645.468
Name: population, Length: 195, dtype: object
Error en la columna urban_population: 0       9.797.273
1       1.747.593
2      31.510.100
3          67.873
4      21.061.025
          ...
190    25.162.368
191    35.332.140
192    10.869.523
193     7.871.713
194     4.717.305
Name: urban_population, Length: 195, dtype: object

Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [74]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [75]:
lista_paises = df['country'].tolist()
print(lista_paises)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [76]:
lista_paises_y_continentes = {
    'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'Andorra': 'Europe',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'The Bahamas': 'North America',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bhutan': 'Asia',
    'Bolivia': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Ivory Coast': 'Africa',
    'Cape Verde': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Comoros': 'Africa',
    'Republic of the Congo': 'Africa',
    'Costa Rica': 'North America',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Europe',
    'Czech Republic': 'Europe',
    'Democratic Republic of the Congo': 'Africa',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Gabon': 'Africa',
    'The Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Grenada': 'North America',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Vatican City': 'Europe',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Republic of Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Liechtenstein': 'Europe',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Marshall Islands': 'Oceania',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Federated States of Micronesia': 'Oceania',
    'Moldova': 'Europe',
    'Monaco': 'Europe',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nauru': 'Oceania',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'North Korea': 'Asia',
    'North Macedonia': 'Europe',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceania',
    'Panama': 'North America',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Qatar': 'Asia',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'San Marino': 'Europe',
    'Sao Tome and Principe': 'Africa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'Somalia': 'Africa',
    'South Africa': 'Africa',
    'South Korea': 'Asia',
    'South Sudan': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Syria': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'Africa',
    'Thailand': 'Asia',
    'Timor-Leste': 'Asia',
    'Togo': 'Africa',
    'Tonga': 'Oceania',
    'Trinidad and Tobago': 'North America',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceania',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europe',
    'United States': 'North America',
    'Uruguay': 'South America',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceania',
    'Venezuela': 'South America',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa',
}

In [77]:
def añadir_continente(df, lista_paises_y_continentes):
    df['continent']= df['country'].map(lista_paises_y_continentes)

    return df['continent']

In [78]:
añadir_continente(df, lista_paises_y_continentes)

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
190    South America
191             Asia
192             Asia
193           Africa
194           Africa
Name: continent, Length: 195, dtype: object

In [79]:
df.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.000,32.49,93.0,Kabul,8.672,1499.0,2.3,AFN,4.47,2.1,0.70,19.101.353.833,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38.041.754,48.9,9.3,71.4,11.12,9.797.273,"('33.93911 ', '67.709953')",3393911.0,67709953.0,Asia
1,Albania,105.0,AL,43.1,28.748,9.000,11.78,355.0,Tirana,4.536,11905.0,1.4,ALL,1.62,28.1,1.36,15.278.077.447,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2.854.191,55.7,18.6,36.6,12.33,1.747.593,"('41.153332 ', '20.168331')",41153332.0,20168331.0,Europe
2,Algeria,18.0,DZ,17.4,2.381.741,317.000,24.28,213.0,Algiers,150.006,15136.0,2.0,DZD,3.02,0.8,0.28,169.988.236.398,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43.053.054,41.2,37.2,66.1,11.70,31.510.100,"('28.033886 ', '1.659626')",28033886.0,1659626.0,Africa
3,Andorra,164.0,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,3.154.057.987,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,"('42.506285 ', '1.521801')",42506285.0,1521801.0,Europe
4,Angola,26.0,AO,47.5,1.246.700,117.000,40.73,244.0,Luanda,34.693,26173.0,17.1,AOA,5.52,46.3,0.97,94.635.415.870,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31.825.295,77.5,9.2,49.1,6.89,21.061.025,"('-11.202692 ', '17.873887')",-11202692.0,17873887.0,Africa

Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [80]:
df.to_csv('df_pair_continentes.csv', index=False)

Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

In [81]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude', 'continent'],
      dtype='object')

In [82]:
df.groupby('continent').mean().T

continent,Africa,Asia,Europe,North America,Oceania,South America
density,1.050943e+02,1.489925e+02,1.234827e+02,1.888261e+02,1.850000e+02,2.500000e+01
agriculturalland,4.674510e+01,3.704889e+01,3.984762e+01,3.287826e+01,3.078462e+01,3.305000e+01
birthrate,3.190615e+01,1.839489e+01,9.732093e+00,1.601826e+01,2.311583e+01,1.737417e+01
callingcode,2.335849e+02,6.057556e+02,2.481111e+02,2.621739e+02,5.932857e+02,3.247500e+02
cpi,1.499650e+04,1.348564e+04,1.087328e+04,1.225555e+04,9.211000e+03,1.401840e+04
cpichange,9.398000e+00,4.747619e+00,2.077500e+00,2.700000e+00,2.163636e+00,2.976667e+01
fertilityrate,4.198846e+00,2.341111e+00,1.511905e+00,2.044783e+00,3.190000e+00,2.200833e+00
forestedarea,2.700784e+01,2.270222e+01,3.272381e+01,3.857826e+01,5.152308e+01,4.893333e+01
gasolineprice,9.533333e-01,7.780000e-01,1.305714e+00,9.840000e-01,1.167143e+00,9.058333e-01
grossprimaryeducationenrollment,1.014962e+02,1.024400e+02,1.015146e+02,1.037913e+02,1.030231e+02,1.055083e+02
grosstertiaryeducationenrollment,1.306275e+01,3.671333e+01,6.753171e+01,3.925652e+01,3.242000e+01,5.471818e+01
infantmortality,4.368654e+01,1.708000e+01,3.721429e+00,1.453478e+01,2.040000e+01,1.434167e+01
lifeexpectancy,6.372500e+01,7.395778e+01,7.938293e+01,7.511304e+01,7.112500e+01,7.493333e+01
maternalmortalityratio,4.180000e+02,7.628889e+01,7.692308e+00,7.561905e+01,6.450000e+01,8.808333e+01
minimumwage,5.300000e-01,1.498611e+00,4.784688e+00,2.266190e+00,3.917778e+00,1.582727e+00
outofpockethealthexpenditure,3.662115e+01,4.248409e+01,2.570000e+01,3.457727e+01,9.884615e+00,2.883333e+01
physiciansperthousand,3.717647e-01,1.916444e+00,3.712857e+00,1.981304e+00,9.461538e-01,2.175833e+00
populationlaborforceparticipation,6.508824e+01,6.262667e+01,5.852564e+01,6.432105e+01,6.217500e+01,6.475833e+01
taxrevenue,1.463696e+01,1.257805e+01,2.063333e+01,1.793500e+01,2.260000e+01,1.531111e+01
totaltaxrate,4.777059e+01,3.260233e+01,3.825122e+01,4.070000e+01,3.951667e+01,5.334167e+01
unemploymentrate,7.884902e+00,5.647556e+00,6.656923e+00,8.256316e+00,3.793750e+00,7.580833e+00
latitude,3.172808e+06,2.736537e+07,5.924813e+07,1.552911e+07,-8.245530e+06,-1.313416e+07
longitude,2.240008e+07,7.161536e+07,1.505680e+07,-6.447293e+07,-4.092458e+07,-5.118551e+07


¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [83]:
df.groupby('officiallanguage')['lifeexpectancy'].mean()

officiallanguage
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: lifeexpectancy, Length: 76, dtype: float64

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [84]:
df.groupby('currency-code')['infantmortality'].mean()

currency-code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: infantmortality, Length: 133, dtype: float64


¿Cuál es el salario mínimo por continente?

In [85]:
df['minimumwage'].unique()

array([4.300e-01, 1.120e+00, 9.500e-01, 6.630e+00, 7.100e-01, 3.040e+00,
       3.350e+00, 6.600e-01, 1.359e+01,       nan, 4.700e-01, 5.250e+00,
       5.100e-01, 3.130e+00, 1.490e+00, 1.031e+01, 1.650e+00, 3.900e-01,
       3.200e-01, 1.360e+00, 1.040e+00, 2.900e-01, 1.530e+00, 1.570e+00,
       3.400e-01, 3.600e-01, 6.800e-01, 3.500e-01, 9.510e+00, 3.700e-01,
       6.000e-01, 2.000e+00, 8.700e-01, 1.230e+00, 8.800e-01, 1.840e+00,
       2.920e+00, 5.000e-02, 3.000e+00, 1.800e-01, 1.480e+00, 4.000e-01,
       2.460e+00, 5.000e-01, 1.050e+00, 3.140e+00, 1.280e+00, 1.116e+01,
       1.460e+00, 1.300e-01, 9.990e+00, 2.700e-01, 4.460e+00, 1.600e+00,
       1.600e-01, 9.800e-01, 2.500e-01, 1.010e+00, 2.620e+00, 3.000e-01,
       4.800e-01, 1.580e+00, 1.240e+00, 1.079e+01, 7.580e+00, 1.330e+00,
       6.770e+00, 4.100e-01, 9.000e-02, 8.300e-01, 2.800e+00, 2.150e+00,
       1.700e-01, 1.880e+00, 2.410e+00, 1.305e+01, 2.100e-01, 1.200e-01,
       9.300e-01, 2.300e-01, 5.070e+00, 5.300e-01, 3.800e-01, 4.900e-01,
       3.100e-01, 1.172e+01, 6.500e-01, 1.029e+01, 1.149e+01, 5.400e-01,
       4.330e+00, 6.900e-01, 1.160e+00, 1.550e+00, 2.930e+00, 3.780e+00,
       2.250e+00, 3.330e+00, 7.800e-01, 3.850e+00, 5.700e-01, 3.110e+00,
       6.490e+00, 5.600e+00, 1.020e+00, 1.060e+00, 3.450e+00, 1.000e-02,
       8.400e-01, 1.013e+01, 7.250e+00, 1.660e+00, 2.400e-01, 1.560e+00,
       7.300e-01])

In [86]:
df.groupby('continent')['minimumwage'].mean()

continent
Africa           0.530000
Asia             1.498611
Europe           4.784688
North America    2.266190
Oceania          3.917778
South America    1.582727
Name: minimumwage, dtype: float64


¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [87]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude', 'continent'],
      dtype='object')

In [88]:
tasa = df.groupby('continent')['totaltaxrate'].mean()
tasa

continent
Africa           47.770588
Asia             32.602326
Europe           38.251220
North America    40.700000
Oceania          39.516667
South America    53.341667
Name: totaltaxrate, dtype: float64

In [89]:
densidad = df.groupby('continent')['density'].mean()
densidad

continent
Africa           105.094340
Asia             148.992533
Europe           123.482667
North America    188.826087
Oceania          185.000000
South America     25.000000
Name: density, dtype: float64

In [90]:
calculo = tasa/densidad 
calculo

continent
Africa           0.454550
Asia             0.218819
Europe           0.309770
North America    0.215542
Oceania          0.213604
South America    2.133667
dtype: float64

¿Cuál es el porcentaje de población urbana promedio por continente?

In [91]:
df["urban_population"].dtypes

dtype('O')