Pair programming Agrupación de Datos y Método apply

Ejercicios apply

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
df= pd.read_csv('files/df_limpio.csv')

In [5]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [133]:
#df["landarea"] = df["landarea"].str.replace(".", "")
#df["landarea"] = df["landarea"].str.replace(",", ".")
df["armedforcessize"]

0      323,000
1        9,000
2      317,000
3          NaN
4      117,000
        ...
190    343,000
191    522,000
192     40,000
193     16,000
194     51,000
Name: armedforcessize, Length: 195, dtype: object

In [6]:
columna=['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitude', 'longitude', 'density', 'cpi']


def numero(columna, df):
    for col in columna:
        if df[col].dtype == 'object':
            df[col] = df[col].str.replace(".", "")
            df[col] = df[col].str.replace(",", ".")
            df[col] = df[col].str.replace("(", "")
            df[col] = df[col].str.replace(")", "")
            df[col] = df[col].str.replace("'", "")
            df[col]= df[col].astype("float64")

    return df

In [7]:
numero(columna, df)

/var/folders/z0/ptwngvg97wndky1th_f_rz8r0000gp/T/ipykernel_23821/230440223.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace(".", "")
/var/folders/z0/ptwngvg97wndky1th_f_rz8r0000gp/T/ipykernel_23821/230440223.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace("(", "")
/var/folders/z0/ptwngvg97wndky1th_f_rz8r0000gp/T/ipykernel_23821/230440223.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace(")", "")

ValueError: could not convert string to float: '2.381.741'

Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [ ]:
lista_paises = df['country'].tolist()
print(lista_paises)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [ ]:
lista_paises_y_continentes = {
    'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'Andorra': 'Europe',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'The Bahamas': 'North America',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bhutan': 'Asia',
    'Bolivia': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Ivory Coast': 'Africa',
    'Cape Verde': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Comoros': 'Africa',
    'Republic of the Congo': 'Africa',
    'Costa Rica': 'North America',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Europe',
    'Czech Republic': 'Europe',
    'Democratic Republic of the Congo': 'Africa',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Gabon': 'Africa',
    'The Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Grenada': 'North America',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Vatican City': 'Europe',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Republic of Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Liechtenstein': 'Europe',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Marshall Islands': 'Oceania',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Federated States of Micronesia': 'Oceania',
    'Moldova': 'Europe',
    'Monaco': 'Europe',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nauru': 'Oceania',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'North Korea': 'Asia',
    'North Macedonia': 'Europe',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceania',
    'Panama': 'North America',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Qatar': 'Asia',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'San Marino': 'Europe',
    'Sao Tome and Principe': 'Africa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'Somalia': 'Africa',
    'South Africa': 'Africa',
    'South Korea': 'Asia',
    'South Sudan': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Syria': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'Africa',
    'Thailand': 'Asia',
    'Timor-Leste': 'Asia',
    'Togo': 'Africa',
    'Tonga': 'Oceania',
    'Trinidad and Tobago': 'North America',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceania',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europe',
    'United States': 'North America',
    'Uruguay': 'South America',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceania',
    'Venezuela': 'South America',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa',
}

In [ ]:
def añadir_continente(df, lista_paises_y_continentes):
    df['continent']= df['country'].map(lista_paises_y_continentes)

    return df['continent']

In [ ]:
añadir_continente(df, lista_paises_y_continentes)

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
190    South America
191             Asia
192             Asia
193           Africa
194           Africa
Name: continent, Length: 195, dtype: object

In [ ]:
df.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude,continent
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953'),Asia
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331'),Europe
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626'),Africa
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,...,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801'),Europe
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887'),Africa

Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [ ]:
df.to_csv('df_pair_continentes.csv', index=False)

Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

In [ ]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude', 'continent'],
      dtype='object')

In [ ]:
df.groupby('continent').mean().T

continent,Africa,Asia,Europe,North America,Oceania,South America
agriculturalland,46.745098,37.048889,39.847619,32.878261,30.784615,33.050000
birthrate,31.906154,18.394889,9.732093,16.018261,23.115833,17.374167
callingcode,233.584906,605.755556,248.111111,262.173913,593.285714,324.750000
cpichange,9.398000,4.747619,2.077500,2.700000,2.163636,29.766667
fertilityrate,4.198846,2.341111,1.511905,2.044783,3.190000,2.200833
forestedarea,27.007843,22.702222,32.723810,38.578261,51.523077,48.933333
gasolineprice,0.953333,0.778000,1.305714,0.984000,1.167143,0.905833
grossprimaryeducationenrollment,101.496154,102.440000,101.514634,103.791304,103.023077,105.508333
grosstertiaryeducationenrollment,13.062745,36.713333,67.531707,39.256522,32.420000,54.718182
infantmortality,43.686538,17.080000,3.721429,14.534783,20.400000,14.341667
lifeexpectancy,63.725000,73.957778,79.382927,75.113043,71.125000,74.933333
maternalmortalityratio,418.000000,76.288889,7.692308,75.619048,64.500000,88.083333
minimumwage,0.530000,1.498611,4.784688,2.266190,3.917778,1.582727
outofpockethealthexpenditure,36.621154,42.484091,25.700000,34.577273,9.884615,28.833333
physiciansperthousand,0.371765,1.916444,3.712857,1.981304,0.946154,2.175833
populationlaborforceparticipation,65.088235,62.626667,58.525641,64.321053,62.175000,64.758333
taxrevenue,14.636957,12.578049,20.633333,17.935000,22.600000,15.311111
totaltaxrate,47.770588,32.602326,38.251220,40.700000,39.516667,53.341667
unemploymentrate,7.884902,5.647556,6.656923,8.256316,3.793750,7.580833


¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [ ]:
df.groupby('officiallanguage')['lifeexpectancy'].mean()

officiallanguage
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: lifeexpectancy, Length: 76, dtype: float64

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [ ]:
df.groupby('currency-code')['infantmortality'].mean()

currency-code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: infantmortality, Length: 133, dtype: float64


¿Cuál es el salario mínimo por continente?

In [ ]:
df['minimumwage'].unique()

array([4.300e-01, 1.120e+00, 9.500e-01, 6.630e+00, 7.100e-01, 3.040e+00,
       3.350e+00, 6.600e-01, 1.359e+01,       nan, 4.700e-01, 5.250e+00,
       5.100e-01, 3.130e+00, 1.490e+00, 1.031e+01, 1.650e+00, 3.900e-01,
       3.200e-01, 1.360e+00, 1.040e+00, 2.900e-01, 1.530e+00, 1.570e+00,
       3.400e-01, 3.600e-01, 6.800e-01, 3.500e-01, 9.510e+00, 3.700e-01,
       6.000e-01, 2.000e+00, 8.700e-01, 1.230e+00, 8.800e-01, 1.840e+00,
       2.920e+00, 5.000e-02, 3.000e+00, 1.800e-01, 1.480e+00, 4.000e-01,
       2.460e+00, 5.000e-01, 1.050e+00, 3.140e+00, 1.280e+00, 1.116e+01,
       1.460e+00, 1.300e-01, 9.990e+00, 2.700e-01, 4.460e+00, 1.600e+00,
       1.600e-01, 9.800e-01, 2.500e-01, 1.010e+00, 2.620e+00, 3.000e-01,
       4.800e-01, 1.580e+00, 1.240e+00, 1.079e+01, 7.580e+00, 1.330e+00,
       6.770e+00, 4.100e-01, 9.000e-02, 8.300e-01, 2.800e+00, 2.150e+00,
       1.700e-01, 1.880e+00, 2.410e+00, 1.305e+01, 2.100e-01, 1.200e-01,
       9.300e-01, 2.300e-01, 5.070e+00, 5.300e-01, 3.800e-01, 4.900e-01,
       3.100e-01, 1.172e+01, 6.500e-01, 1.029e+01, 1.149e+01, 5.400e-01,
       4.330e+00, 6.900e-01, 1.160e+00, 1.550e+00, 2.930e+00, 3.780e+00,
       2.250e+00, 3.330e+00, 7.800e-01, 3.850e+00, 5.700e-01, 3.110e+00,
       6.490e+00, 5.600e+00, 1.020e+00, 1.060e+00, 3.450e+00, 1.000e-02,
       8.400e-01, 1.013e+01, 7.250e+00, 1.660e+00, 2.400e-01, 1.560e+00,
       7.300e-01])

In [ ]:
df.groupby('continent')['minimumwage'].mean()

continent
Africa           0.530000
Asia             1.498611
Europe           4.784688
North America    2.266190
Oceania          3.917778
South America    1.582727
Name: minimumwage, dtype: float64


¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [ ]:
total_tax_rate
density
tasa/densidad  max

In [ ]:
tasa = df.groupby('continent')['totaltaxrate'].mean()
tasa

continent
Africa           47.770588
Asia             32.602326
Europe           38.251220
North America    40.700000
Oceania          39.516667
South America    53.341667
Name: totaltaxrate, dtype: float64

In [ ]:
densidad = df.groupby('continent')['density'].mean()

TypeError: Could not convert 601041232,2391,26520839515357464151529340034711572403432667991,80228320321416287368248168,3585273419568137110131187931456 to numeric